@font-face {
  font-family: 'FontinSmallCaps';
  font-weight: normal;
  font-style: normal;
  src: local("☺"), url('/poe-theory-craft/font/fontin-smallcaps-webfont.woff') format("woff")
}

@font-face {
  font-family: 'FontinRegular';
  font-weight: normal;
  font-style: normal;
  src: local("☺"), url('/poe-theory-craft/font/fontin-regular-webfont.woff') format("woff")
}

@font-face {
  font-family: 'FontinItalic';
  font-weight: normal;
  font-style: normal;
  src: local("☺"), url('/poe-theory-craft/font/fontin-italic-webfont.woff') format("woff")
}

@font-face {
  font-family: 'FontinBold';
  font-weight: normal;
  font-style: normal;
  src: local("☺"), url('/poe-theory-craft/font/fontin-bold-webfont.woff') format("woff")
}

html {
  overflow-y: scroll;
}

body {
  background-color: #222;
}

.modal {
  display: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal * {
  z-index: 5;
  font-family: 'FontinSmallCaps';
  font-size: 18px;
}

.modal[shown] {
  display: block;
}

.modalContents {
  color: white;
  background-color: #000000;
  border: 3px double;
  border-color: #ddd;
  z-index: 5;
  margin: 100px;
  top: 100px;
  display: inline-block;
}

.modalLabelLine {
  padding: 5px;
  display: flex;
}

.modalLabelLine {
  color: white;
  grid-column-start: 3;
  grid-row: initial;
  margin: 0 auto;
}

.modalClose {
  width: 30px;
  cursor: pointer;
  float: right;
  text-align: center;
  margin: auto 0;
}

.fossilSelectorContainer {
  width: 740px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.fossilSelectorButton {
  width : 360px;
  height : 100px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: #e8e8e8;
  border-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  font-family: 'FontinSmallCaps';
  font-size: 18px;  
}

.fossilSelectorButton:disabled {
  background-color: #555;
  border-color: rgb(124, 124, 124);
}

.fossilSelectorButton[fossilSelected=true] {
  background-color: rgb(255, 235, 144);
}

.fossilSelectorButton:focus {
  outline:0;
}

.fossilSelectorButton img {
  align-self: center;
  height: 80px;
}

.fossilSelectorButton .label {
  width:100%;
  height:100%;
  text-align: center;
  margin: auto;
  font-size: 16px;  
}

.fossilSelectorButton img:active {
  transform: translateY(1px);
}

.fossilSelectorButton .label:active {
  transform: translateY(1px);
}

.fossilSelectorButton:disabled img {
  filter: grayscale(100%);  
}

.button {
  background-color: wheat;
}
.button:disabled {
  color: #aaa;
  background-color: #eee;
}

.craftingButtonLine {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.craftingButtonSection {
  flex-flow: column;
}

.craftingButtonContainer {
}

.craftingButton {
  background-color: #e8e8e8;
  border-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  padding : 1px;
  width : 60px;
  height : 60px;
}

.craftingButton[left="true"] {
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
  padding : 1px 2px 1px 1px;
}

.craftingButton[right="true"] {
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid gray;
  width : 30px;
  align-self: baseline;
}

.craftingButton:focus {
  outline:0;
}

.craftingButton .label:active {
  transform: translateY(1px);
}

.craftingButton .label img {
  width: 50px;
  height: 50px;
}

.craftingButton:disabled {
  background-color: #555;
  border-color: rgb(124, 124, 124);
}

.craftingButton[right="true"]:disabled {
  border-left: 1px solid #333;  
}

.craftingButton:disabled .label:active {
  transform: translateY(0px);
}

.craftingButton:disabled .label img {
  filter: grayscale(100%);  
}

.craftedItem .separator {
  width: 200px;
  height: 8px;
  margin: 0 auto;
}

.craftedItem.normal .separator {
  background: url('/poe-theory-craft/img/seperator-normal.png') center no-repeat;
}
.craftedItem.magic .separator {
  background: url('/poe-theory-craft/img/seperator-magic.png') center no-repeat;
}
.craftedItem.rare .separator {
  background: url('/poe-theory-craft/img/seperator-rare.png') center no-repeat;
}
.craftedItem.unique .separator {
  background: url('/poe-theory-craft/img/seperator-unique.png') center no-repeat;
}

.craftedItem {
  color: white;
  text-align: center;
  margin: 5px;
  font-size: 18px;
  font-family: 'FontinSmallCaps';
  border: 0px 0px 0px 0px;
  display : flex;
  justify-content: center;
}

.craftedItem .content-box {
  background-color: black;  
  padding: 0px;
  padding-bottom: 4px;
  width: fit-content
}

.craftedItem .header-border {
  border: 2px;
  padding: 4px;
  margin-bottom: 4px;
  border-style: solid;
  border-width: 4px;
  position: relative;
}

.craftedItem.normal .header-border {
  border-color: #79716E;
  background-color: #302F2F;
}
.craftedItem.magic .header-border {
  border-color: #3A405B;
  background-color: #191928;
}
.craftedItem.rare .header-border {
  border-color: #907011;
  background-color: #261F1D;
}
.craftedItem.unique .header-border {
  border-color: #7A371C;
  background-color: #1B100B;
}

.craftedItem .itemName {
  font-size: 24px;  
  font-weight: 500;
  padding: 0px 45px 0px 45px;
}

.craftedItem.normal .itemName {
  color: #c8c8c8
}
.craftedItem.magic .itemName {
  color: #88f
}
.craftedItem.rare .itemName {
  color: #ff7
}
.craftedItem.unique .itemName {
  color: #af6025
}

.craftedItem .modBox {
  margin: 5px 10px;
}

.craftedItem .tipLine {
  color: #7f7f7f;
  font-style: italic;
  font-size: 15px;    
}

.craftedItem .modLine {
  color: #88f;
}

.craftedItem .enchantment {
  color: #b4b4ff;
}

.craftedItem .propertyLine {
  color: #7f7f7f;
}

.craftedItem .property {
  color: white;
}

.craftedItem .crafted {
  color: #b4b4ff;
}

.craftedItem .improved {
  color: #88f;
}

*.prefix {
  color: #ec7676;
}

*.suffix {
  color: #7aaff1;
}

.modProb.veryLow {
  color:#bbb;
}
.modProb.low {
  color:#ddd;
}
.modProb.mid {
  color:#fff;
}
.modProb.midHigh {
  color:rgb(253, 253, 125);
}
.modProb.high {
  color:#ff9800;
}
.modProb.guaranteed {
  color:#ff1bff;
}

.craftedItem

.craftedItem .symbol {
  margin: 0;
  padding: 0;
  border: 0;
}
.craftedItem .symbol::after {
  content: ' ';
  display: block;
  top: 0px;
  position: absolute;
  background: none center no-repeat;
  width: 26px;  
  height: 33px;
}

.craftedItem .single .symbol.l::after {
  left: 4px;
  top: 3px;
}
.craftedItem .single .symbol.r::after {
  right: 4px;
  top: 3px;
}
.craftedItem .double .symbol::after {
  top: 3px;
  width: 45px;
  height: 60px;
  background-size: 45px;
}
.craftedItem .double .symbol.l::after {
  left: 3px;
}
.craftedItem .double .symbol.r::after {
  right: 4px;
}
.craftedItem .symbol.crusader::after {
  background-image: url('/poe-theory-craft/img/crusader-symbol.png');
}
.craftedItem .symbol.hunter::after {
  background-image: url('/poe-theory-craft/img/hunter-symbol.png');
}
.craftedItem .symbol.redeemer::after {
  background-image: url('/poe-theory-craft/img/redeemer-symbol.png');
}
.craftedItem .symbol.warlord::after {
  background-image: url('/poe-theory-craft/img/warlord-symbol.png');
}
.craftedItem .symbol.shaper::after {
  background-image: url('/poe-theory-craft/img/shaper-symbol.png');
}
.craftedItem .symbol.elder::after {
  background-image: url('/poe-theory-craft/img/elder-symbol.png');
}

.modList {
  width: 785;
  color: #eee;
  text-align: center;
  margin: 5px;
  font-size: 16px;
  font-family: 'FontinSmallCaps';
  border-style: solid;
  border-width: 3px;
  padding: 1px;
}

.modList .modGroup {
}

.modGroup .modGroupLine {
  border-top-color: #666;
  border-left-color: #666;
  border-right-color: #555;
  border-bottom-color: #111;
  border-width: 1px 0px 1px 0px;
}

.modGroup .modGroupLine:hover {
  background-color: #444;
}

.modList .modLine, .modList .modGroupLine {
  display: grid;
  grid-template-rows: auto;
  border-style: solid;
}

.modRoll .modRollLabelLine {
  padding: 5px;
  display: grid;  
  grid-template-columns: 48px 48px auto 80px 78px;    
}

.modRollLabelLine .modRollLabel {
  color: white;
  grid-column-start: 3;
  grid-row: initial;
  margin: 0 auto;
}

.modList .modGroupLine {
  /* Purply shaper color
  background: rgb(68,68,68);
  background: linear-gradient(180deg, rgba(68,68,68,1) 0%, rgba(24,0,69,1) 100%); 
  */
  background: rgb(68,68,68);
  background: linear-gradient(180deg, rgba(68,68,68,1) 0%, rgba(54,54,54,1) 100%);

  grid-template-columns: 48px 48px auto 80px 78px;  
  grid-auto-flow: column;

  text-shadow: 1px 1px #000000;
}

.delve .modGroupLine {
  /* border-top-color: #d4c376;
  background: rgb(170,89,8);
  background: linear-gradient(180deg, rgba(170,89,8,1) 0%, rgba(79,44,14,1) 100%); */
}

.delve .modGroupLine .modName {
  color: #fcce6a;
}

.essence .modGroupLine {
  /* border-top-color: #ffa8eb;
  background: rgb(142,63,119);
  background: linear-gradient(180deg, rgba(142,63,119,1) 0%, rgba(84,58,78,1) 100%); */
}

.essence .modGroupLine .modName {
  color: #ffa8eb;
}

.shaper .modGroupLine {
  /* border-top-color: #ba50ff;
  background: rgb(94,46,125);
  background: linear-gradient(180deg, rgba(94,46,125,1) 0%, rgba(66,34,85,1) 100%); */
}

.shaper .modGroupLine .modName {
  color: #ca8aff;
}

.elder .modGroupLine {
  /* border-top-color: #9f9aff;
  background: rgb(78,75,135);
  background: linear-gradient(180deg, rgba(78,75,135,1) 0%, rgba(57,54,87,1) 100%); */
}

.elder .modGroupLine .modName {
  color: #aba7ff;
}

.crusader .modGroupLine {
  /* border-top-color: #db9a9a;
  background: rgb(135,75,75);
  background: linear-gradient(180deg, rgba(135,75,75,1) 0%, rgba(87,54,54,1) 100%); */
}

.crusader .modGroupLine .modName {
  color: #ffbebe;
}

.redeemer .modGroupLine {
  /* border-top-color: #a4bad9;
  background: rgb(75,100,135);
  background: linear-gradient(180deg, rgba(75,100,135,1) 0%, rgba(54,66,87,1) 100%); */
}

.redeemer .modGroupLine .modName {
  color: #b8d8fd;
}

.hunter .modGroupLine {
  /* border-top-color: #83c383;
  background: rgb(75,135,75);
  background: linear-gradient(180deg, rgba(75,135,75,1) 0%, rgba(54,87,58,1) 100%); */
}

.hunter .modGroupLine .modName {
  color: #b6ffaf;
}

.warlord .modGroupLine {
  /* border-top-color: #d4d19f;
  background: rgb(135,132,75);
  background: linear-gradient(180deg, rgba(135,132,75,1) 0%, rgba(85,87,54,1) 100%); */
}

.warlord .modGroupLine .modName {
  color: #fff3b0;
}

.modList .modLine {
  border-width: 0px;
  grid-template-columns: 48px 48px auto 80px 78px;  
  grid-auto-flow: column;
}

.modLine .tierString, .modGroupLine .tierString {
  padding: 2px;
  margin: auto;
}

.modLine .modName, .modGroupLine .modName {
  padding: 2px;
  margin: auto;  
}

.modLine .modWeight, .modGroupLine .modWeight {
  padding: 2px;
  margin: auto;  
}

.modLine .modProb, .modGroupLine .modProb {
  padding: 2px;
  margin: auto;  
}

.modList .modLine {
  color: #ccc;
}

.modList .modLine:nth-child(odd) {
  background-color: #111;  
}
.modList .modLine:nth-child(even) {
  background-color:#222;
}

.yetAnotherContainer {
  width : 100%;
  text-align : center;
  display : inline-block;
}

.everythingContainer {
  text-align : center;
  display : inline-block;
}

.itemAndModListContainer {
  display: grid;
  grid-template-columns: 600px 800px;  
}

.itemAndModListContainer .craftedItemContainer {
  grid-column-start: 1;
  grid-row: initial;
  margin: 0 auto;
  text-align : center;
  display : flex;
  flex-direction: column;
}

.itemAndModListContainer .modListContainer {
  grid-column-start: 2;
  grid-row: initial;  
}